

body {
  font-family: 'font-400';
}

html, body { height: 100%; scroll-padding-top: 90px;}


.App {
	.wrap_container {
		width: 1400px;
	}
	.container {
		width: 1300px;
		max-width: 100%;
		position: relative;
		overflow: hidden;
	}
	.footer {
		.copy-right {
			margin: 0 auto;
			font-size: 28px;
		}
	}
}

.rotate-loading {
	animation: rotation 8s infinite linear;
	width: 100px;
	height: 100px;
}


.loadding-app {
	background: #B4381D;
	.view-loadding-app {
		margin: 0 auto;
		position: absolute;
	}
	
	.image-logo-loading {
		width: 400px;
		animation: rotationLogo 6s infinite linear;
	}
	.img_loadding_app {
		width: 170px;
	}
}


@media only screen and (min-width: 2000px){


}
@media only screen and (min-width: 2500px){
	.ma_green {
		img {
			height: 858px;
			width: 100%;
		}
	}
	.desposit_left {
		display: flex;
		justify-content: center;
	}

}
@media only screen and (min-width: 2560px){
	.wrap_container {
		width: 2300px !important;
	}
	.container {
		width: 1900px !important;
	}

}
@media only screen and (min-width: 2000px){

	
}


@media only screen and (min-width: 1300px){
	.menu-mobile {
		display: none !important;
	}
	.menu-left-mobile {
		display: none !important;
	}
	
}




@media only screen and (max-width: 1440px){ 
	.App .header .header-menu .menu-web .nav-item {
		font-size: 22px !important;
	}

}

@media only screen and (max-width: 1300px){

	.menu-left {
		display: none !important;
	}
}

@media only screen and (max-width: 990px){
	
}


@media only screen and (max-width: 768px){
	.header-menu .menu-web .menu-logo {
		margin-left: 30px !important;
		margin-top: 10px !important;
	}
	.menu-logo-mobile {
        .img-menu-logo {
            width: 62px;
            height: 60px;
        }
		.nav-item {
			color: #FF6A00
		}
    }

}
@media only screen and (max-width: 520px){
	.title_header_content {
		font-size: 30px !important;
	}
	.view_header_title {
		margin: 0 10px !important; 
	}
	.view_img_header {
		width: 92% !important;
	}
	.text-title {
		font-size: 26px !important;
	}
}

@media only screen and (max-width: 450px){ 
	
}



.rotate-loading-logo {
	animation: rotation 8s infinite linear;
}



@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationLogo {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}



@keyframes svg-wave {
	from {
		transform: scaleX(1) scaleY(1.1);
	}
	to {
		transform: scaleX(1) scaleY(1.2);
	}
}


@keyframes dash {
	from {
	  stroke-dashoffset: 822;
	}
	to {
	  stroke-dashoffset: 0;
	}
}