@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSans-Bold';
  src: url("./fonts/NotoSans-Bold.woff2") format('woff2');
}
@font-face {
  font-family: 'NotoSans-Medium';
  src: url("./fonts/NotoSans-Medium.woff2") format('woff2');
}
@font-face {
  font-family: 'NotoSans-Regular';
  src: url("./fonts/NotoSans-Regular.woff2") format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}

.fs-23 {
  font-size: 23px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-32 {
  font-size: 32px !important;
}
.fs-36 {
  font-size: 36px !important;
}
.fs-40 {
  font-size: 40px !important;
}
.fs-44 {
  font-size: 44px !important;
}
.fs-48 {
  font-size: 48px !important;
}
.fs-52 {
  font-size: 52px !important;
}
.fs-56 {
  font-size: 56px !important;
}
.fs-60 {
  font-size: 60px !important;
}
.fs-64 {
  font-size: 64px !important;
}
.fs-72 {
  font-size: 72px !important;
}
.fs-96 {
  font-size: 96px !important;
}
.fs-120 {
  font-size: 120px !important;
}
.fs-128 {
  font-size: 128px !important;
}
.color-black {
  color: #163759 !important;
}
.color-xam {
  color: #9292A0 !important;
}
.color-hong {
  color: #EE86FF !important;
}
.color-cam {
  color: #D38309 !important;
}
.color-pending {
  color: #E8B850 !important;
}
.color-xanh-la {
  color: #4AA372 !important;
}
.bg-primary-app {
  background: #FF6A00;
}
.color-app {
  color: #FF6A00;

}
.font-400 {
  font-family: 'NotoSans-Regular';
}
.font-500 {
  font-family: 'NotoSans-Medium';
}
.font-600 {
  font-family: 'NotoSans-Regular';
  font-weight: 600;
}
.font-700 {
  font-family: 'NotoSans-Bold';
}




.ant-table-thead > tr > th {
  background: #01579B !important ;
  color: #fff;
}

.ReactModal__Content.ReactModal__Content--after-open {
  background: #1C122E !important;
  box-shadow: 0px 0px 50px rgba(120, 101, 155, 0.25) !important;
  border-radius: 8px;
  
}
.ReactModal__Overlay ReactModal__Overlay--after-open {
  z-index: 11111111;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff !important;
}
 

.cms_sidebar {
  height: 100vh;
  background-color: #fff !important;
  .ant-menu-item {
    svg {
      height: 100% !important
    }
  }
  
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: #01579B !important;
  box-shadow: 0 0 0 2px rgba(240, 115, 13, 0.2) !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #01579B !important;
}
.ant-breadcrumb {
  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.ant-table-thead > tr > th {
  color: #fff !important;
  font-family: 'NotoSans-Bold';
  font-size: 16px;
}
.ant-pagination {
  margin: 10px 30px 0px 30px !important; 
}
.ant-layout {
  background: #FBF7F4 !important;
}
.ant-table-container .ant-table-content table .ant-table-thead tr th:first-child{
  border-top-left-radius: 10px !important;
}

.ant-table-container .ant-table-content table .ant-table-thead tr th:last-child{
  border-top-right-radius: 10px !important;
}

.btn_view_detail {
  color: #B19A93;
  background-color: #FFF8F6;
  &:hover {
    background-color: #01579B;
    color: #fff;
  }
}

.ant-pagination-item-active {
  border-color: #01579B !important;
}
.ant-pagination-item-active a {
  color: #01579B !important;
}

.ant-spin-dot-item {
  background-color: #01579B !important;
}
.status_completed {
  background: #EEFAEC;
  border: 1px solid #CCEBC7;
  border-radius: 4px;
  color: #89CE7C;
}
.status_pending {
  background: #FFF3E4;
  border: 1px solid #FAEACB;
  border-radius: 4px;
  color: #E8B850;
}
.status_notVerified {
  background: #EDEBEA;
  border: 1px solid #E3E3E1;
  border-radius: 4px; 
  color: #B0AFAB;
}

.btn_approve {
  background: #F94703;
  border-radius: 4px;
}


.card_style {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(231, 219, 210, 0.24);
  border-radius: 5px;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
.text-center {
  text-align: center;
}
.mb-6 {
  margin-bottom: 1.5rem; 
}
.bg-white {
  background-color: white;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-10 {
  padding-top: 10px; 
  padding-bottom: 10px; 
}
.rounded-2xl {
  border-radius: 24px;
}
.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.w-10 {
  width: 2.5rem;
}

.mt-2	{
  margin-top: 0.5rem; 
}

.mx-6	{
  margin-left: 1.5rem; /* 24px */
  margin-right: 1.5rem; /* 24px */
}

.ant-select-item-group {
    color: #01579B !important;
    font-size: 14px !important;
    cursor: default !important;
    font-family: Nunito;
    font-weight: 700;
}

.ant-switch-checked {
  background-color: #00A991 !important;
}

